= form_for :session, url: sessions_path do |f|
  .row.app-row
    .col.s12
      %h2.app-typography--header-1 Log In

      .app-input-field
        = f.label :email, 'Email'
        = f.text_field :email

      .app-input-field
        = f.label :password, 'Password'
        = f.password_field :password

      = render_component 'button', submit: f do
        Login
