.row
  .col.s10.offset-s1
    %h1.app-typography--header-1= t('faqs.title')
    %p.app-typography--body-1= t('faqs.subtitle')

.row
  .col.s5
    %nav.app-menu
      - @faq_menu.each do |section|
        %section
          .app-menu__header= section[:header][:text]
          %ul
            - section[:items].each do |item|
              - selected = @faq_item == item
              %li.app-menu__link{ class: ('app-menu__link--selected' if selected) }
                = link_to item[:text], faq_path(faq_slug(item))

  .col.s7
    - if @faq_item
      - header_key = "faqs.#{@faq_item[:faq]}.header"
      - if I18n.exists?(header_key)
        = raw(simple_format(t(header_key)))

      - dropdowns_key = "faqs.#{@faq_item[:faq]}.dropdowns"
      - if I18n.exists?(dropdowns_key)
        - I18n.t(dropdowns_key).each do |dropdown|
          = render_component 'dropdown', title: dropdown[:title] do
            = raw(simple_format(dropdown[:body]))
