- content_for(:page_title, t('faqs.title'))

.row
  .col.m8.offset-m2.s10.offset-s1
    %h1.app-typography--header-1= t('faqs.title')
    = simple_format(t('faqs.subtitle'), class: 'app-typography--body-1')


/////  Sandbox for a timline in CSS /////

/ %section.horizontal-timeline
/   .timeline
/     %ol
/       %li
/         Investigation
/       %li
/         Prosecution
/       %li
/         Sentencing
/       %span.filling-line
/       / .events
/     / .events-wrapper

%section.row
  .col.m8.offset-m2.s10.offset-s1
    %nav
      %h2.app-typography--header-1= t('faqs.toc_header')
      - @faq_menu.each do |section|
        %section
          .app-menu__header= section[:header][:text]
          %ul
            - section[:items].each do |item|
              %li.app-menu__link
                = link_to item[:text], "##{faq_slug(item)}"

- @faq_menu.flat_map { |section| section[:items] }.each do |item|
  %section.row
    .col.m8.offset-m2.s10.offset-s1
      = render 'faqs/faq_item', faq_item: item
