%h1 Typography

.app-typography--display-1{ contenteditable: true }
  Display 1
.app-typography--header-1{ contenteditable: true }
  Header 1
.app-typography--header-2{ contenteditable: true }
  Header 2
.app-typography--header-3{ contenteditable: true }
  Header 3
%p.app-typography--body-1{ contenteditable: true }
  Body 1
%p.app-typography--body-2{ contenteditable: true }
  Body 2
.app-typography--caption{ contenteditable: true }
  Caption

%h1 Components

%h2 Dropdown
:styleguide
  .row
    .col.s6
      = render_component 'dropdown', title: 'Dropdown Title' do
        Body here!
      = render_component 'dropdown', title: 'Dropdown Title' do
        Body here!
      = render_component 'dropdown', title: 'This is a dropdown with a very very long Title lorem ipsum dolor sit amet' do
        Body here!

%h2 Button
%p Here is a default button:
:styleguide
  = render_component 'button' do
    Search

%p Here is a button with a solid background:
:styleguide
  = render_component 'button', solid: true do
    Look Up Status &rarr;

%p
  Pass the form helper as the "submit" option to make the button submit the
  form:
:styleguide
  = form_for :something, method: :get do |f|
    = render_component 'button', submit: f do
      Button text here

%p Button with a material icon:
:styleguide
  = render_component 'button' do
    Button
    %i.material-icons keyboard_arrow_right

%h2 Avatar List Item
:styleguide
  = render_component 'avatar_list_item', image: image_url('pam.jpg'), name: 'Pam', caption: 'Fellow, Code for America'
  = render_component 'avatar_list_item', image: image_url('tom.jpg'), name: 'Tom', caption: 'Fellow, Code for America'
  = render_component 'avatar_list_item', name: 'Tom', caption: 'Fellow, Code for America'

%h2 Logo
:styleguide
  %div
    = render_component 'logo'
  %div{ style: 'background-color: #2f6296' }
    = render_component 'logo', variant: :translucent
