%h1 Update to Victims Rights

Hello,
%br
%br
You're receiving this email because #{@subscription.first_name} has updated
their requested Victims' Rights on myadvocateoregon.org.
%br
%br
Case details:
%ul
  %li
    Name:
    #{@subscription.first_name} #{@subscription.last_name}

  %li
    Phone Number:
    #{format_phone(@subscription.phone_number)}

  %li
    Email Address:
    #{@subscription.email}

  %li
    Case Number:
    #{@subscription.case_number}

The following rights are selected:
%ul
  - @subscription.checked_rights.each do |right|
    %li= right.name

If you believe there has been an error in this email, please report it to #{link_to 'team@myadvocateoregon.org', 'mailto:team@myadvocateoregon.org'}.
