%h1 Update to Victims Rights

Hello,
%br
%br
You're receiving this email because #{@subscription.first_name} has updated
their requested Victims' Rights on casecompanion.org.
%br
%br
Case details:
%ul
  %li
    Name:
    #{@subscription.first_name} #{@subscription.last_name}

  %li
    Phone Number:
    #{format_phone(@subscription.phone_number) || 'Not Provided'}

  %li
    Email Address:
    #{@subscription.email.presence || 'Not Provided'}

  %li
    Case Number:
    #{@subscription.case_number}

- if @subscription.checked_rights.any?
  The following rights are selected:
  %ul
    - @subscription.checked_rights.each do |right|
      %li= right.name
- else
  The victim did not select any rights listed on the VRN form.

If you believe there has been an error in this email, please report it to #{link_to 'team@casecompanion.org', 'mailto:team@casecompanion.org'}.
