.row.app-row
  .col.s12.m6
    .app-offender-info-container
      .app-typography--caption-above SID
      %span.app-typography--body-1= @offender[:sid]
  .col.s12.m6
    .app-offender-info-container
      .app-typography--caption-above Offender Name
      %span.app-typography--body-1
        = @offender.include?(:name) ? @offender[:name] : "#{@offender[:first]} #{@offender[:last]}"

  .col.s12.m6
    .app-offender-info-container
      .app-typography--caption-above Status
      %span.app-typography--body-1= @offender[:status]
  .col.s12.m6
    .app-offender-info-container
      .app-typography--caption-above Offender Photo
      %span.app-typography--body-1
        = link_to 'Show Photo', "http://docpub.state.or.us/OOS/imageLoader.jsp?idno=#{@offender[:sid]}", target: "_blank"

  .col.s12.m6
    .app-offender-info-container
      .app-typography--caption-above Earliest Release Date (Not Finalized)
      %span.app-typography--body-1= @offender[:earliest_release_date]
  .col.s12.m6
    .app-offender-info-container
      .app-typography--caption-above Location
      %span.app-typography--body-1= @offender[:location]
