.row.app-row
  .col.m6
    .app-offender-info-container
      .app-typography--caption-above SID
      %span.app-typography--body-1= @offender[:sid]

  .col.m6
    .app-offender-info-container
      .app-typography--caption-above Offender Name
      %span.app-typography--body-1
        = @offender.include?(:name) ? @offender[:name] : "#{@offender[:first]} #{@offender[:last]}"

  - if @offender[:supervision_expiration_date]
    .col.m6
      .app-offender-info-container
        .app-typography--caption-above Supervision End Date
        %span.app-typography--body-1
          = @offender[:supervision_expiration_date].to_date.strftime('%m/%d/%Y')
