- search_params = params.fetch(:offender, {}).slice(:first_name, :last_name)

- content_for :page_title do
  = t('offender_search.title')

= form_for :offender, url: offenders_path, method: :get do |f|
  .row
    .col.s10.offset-s1
      %h2.app-typography--header-1= t('offender_search.title')

      %h3.app-typography--header-2= t('offender_search.by_name')

  .row
    .col.s10.offset-s1.m5.offset-m1
      .input-field
        = f.text_field :first_name, value: search_params[:first_name]
        = f.label :first_name, t('offender_search.first_name.label'),
          class: ('active' if search_params[:first_name].present?)

    .col.s10.offset-s1.m5
      .input-field
        = f.text_field :last_name, value: search_params[:last_name]
        = f.label :last_name, t('offender_search.last_name.label'),
          class: ('active' if search_params[:last_name].present?)

  %section.row
    .col.s10.offset-s1.m5.offset-m1
      %h3.app-typography--header-2= t('offender_search.by_sid')

  .row
    .col.s10.offset-s1.m5.offset-m1
      .input-field
        = f.text_field :sid
        = f.label :sid, t('offender_search.sid.label')

  - if feature_enabled?('dcj_search')
    .app-feature-flagged
      %section.row
        .col.s10.offset-s1.m5.offset-m1
          %h3.app-typography--header-2= t('offender_search.dcj')

      .row
        .col.s10.offset-s1.m5.offset-m1
          .input-field
            = f.text_field :dcj_sid
            = f.label :dcj_sid, t('offender_search.sid.label')

        .col.s10.offset-s1.m5
          .input-field
            = f.text_field :dcj_last_name
            = f.label :dcj_last_name, t('offender_search.last_name.label')

  .row
    .col.s10.offset-s1
      = render_component 'button', submit: f do
        = t('offender_search.search')

  .row
    - if @results.present?
      - query = "#{search_params[:first_name]} #{search_params[:last_name]}"
      - bold_query = content_tag(:strong, query)

      .col.s10.offset-s1.hide-on-large-only
        %p.app-typography--body-2
          = raw(t('offender_search.num_results', num: @grouped_results.count, name: bold_query))

        - @results.each do |result|
          %div.app-card--result
            %ul
              %li
                %span.app-card--result__label.mdl-typography--caption SID
                = result[:sid]
              %li
                %span.app-card--result__label.mdl-typography--caption First
                = result[:first]
              %li
                %span.app-card--result__label.mdl-typography--caption Middle
                = result[:middle]
              %li
                %span.app-card--result__label.mdl-typography--caption Last
                = result[:last]
              %li
                %span.app-card--result__label.mdl-typography--caption DOB
                = result[:dob]
            = render_component 'button', to: offender_path(result[:sid]) do
              View offender
              %i.material-icons keyboard_arrow_right


      .col.s10.offset-s1.hide-on-med-and-down
        %p.app-typography--body-2
          = raw(t('offender_search.num_results', num: @grouped_results.count, name: bold_query))

      .col.s12.hide-on-med-and-down
        %table.app-table.app-table--full-bleed
          %thead
            %tr
              %th SID
              %th Known Aliases
              %th DOB
          - @grouped_results.each do |group|
            %tbody
              %tr.app-table__row--bordered{ data: { href: offender_path(group[:sid]) } }
                - path = offender_offenders_path(group[:jurisdiction], group[:sid])
                %td= link_to group[:sid], path
                %td= @name_highlighter.highlight(group[:full_name])
                %td= group[:dob]
              - group[:aliases].each do |name|
                %tr{ data: { href: path } }
                  %td
                  %td= @name_highlighter.highlight(name)
                  %td

