- search_params = params.fetch(:offender, {}).slice(:first_name, :last_name)

= form_for :offender, url: offenders_path, method: :get do |f|
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      %h2.mdl-typography--headline= t('offender_search.title')

      %h3.app-typography--subheader= t('offender_search.by_name')
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        = f.text_field :first_name, value: search_params[:first_name], class: 'mdl-textfield__input'
        = f.label :first_name, t('offender_search.first_name.label'), class: 'mdl-textfield__label'

      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        = f.text_field :last_name, value: search_params[:last_name], class: 'mdl-textfield__input'
        = f.label :first_name, t('offender_search.last_name.label'), class: 'mdl-textfield__label'

    - if @results.present?
      - @results.each do |result|
        .mdl-cell.mdl-cell--6-col.mdl-cell--8-col-tablet.mdl-cell--hide-desktop
          = link_to offender_path(result[:sid]), class: 'app-card--result' do
            %ul
              %li
                %span.app-card--result__label.mdl-typography--caption SID
                = result[:sid]
              %li
                %span.app-card--result__label.mdl-typography--caption First
                = result[:first]
              %li
                %span.app-card--result__label.mdl-typography--caption Middle
                = result[:middle]
              %li
                %span.app-card--result__label.mdl-typography--caption Last
                = result[:last]
              %li
                %span.app-card--result__label.mdl-typography--caption DOB
                = result[:dob]
            %span.mdl-button.mdl-button--raised
              View offender
              %i.material-icons keyboard_arrow_right


      .mdl-cell.mdl-cell--12-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
        %table.mdl-data-table.app-table--rows-clickable
          %thead
            %tr
              %th SID
              %th First Name
              %th Middle
              %th Last Name
              %th DOB
          %tbody
            - @results.each do |result|
              %tr{ data: { href: offender_path(result[:sid]) } }
                %td= link_to result[:sid], offender_path(result[:sid])
                %td= result[:first]
                %td= result[:middle]
                %td= result[:last]
                %td= result[:dob]

    .mdl-cell.mdl-cell--12-col
      %h3.app-typography--subheader= t('offender_search.by_sid')
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        = f.text_field :sid, class: 'mdl-textfield__input'
        = f.label :sid, t('offender_search.sid.label'), class: 'mdl-textfield__label'

    .mdl-cell.mdl-cell--12-col
      = f.submit t('offender_search.search'), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'

    .mdl-cell.mdl-cell--12-col
      %p= t('offender_search.description')


    .mdl-cell.app-vertical-spacer
      -# extra spacing to push down the footer

    = render 'layouts/footer'
