.mdl-grid
  .mdl-cell.mdl-cell--12-col
    %h2.app-typography--subheader Offender Public Information

    %ul.mdl-list.app-list
      %li.mdl-list__item.mdl-list__item--two-line.app-list__item--no-side-padding
        %span.mdl-list__item-primary-content
          %span= @offender[:name]
          %span.mdl-list__item-sub-title Offender Name

      %li.mdl-list__item.mdl-list__item--two-line.app-list__item--no-side-padding
        %span.mdl-list__item-primary-content
          %span= @offender[:sid]
          %span.mdl-list__item-sub-title SID

      %li.mdl-list__item.mdl-list__item--two-line.app-list__item--no-side-padding
        %span.mdl-list__item-primary-content
          %span= @offender[:status]
          %span.mdl-list__item-sub-title Status

      %li.mdl-list__item.mdl-list__item--two-line.app-list__item--no-side-padding
        %span.mdl-list__item-primary-content
          %span= @offender[:location]
          %span.mdl-list__item-sub-title Location

      %li.mdl-list__item.mdl-list__item--two-line.app-list__item--no-side-padding
        %span.mdl-list__item-primary-content
          %span= @offender[:earliest_release_date]
          %span.mdl-list__item-sub-title Earliest Release Date (Not Finalized)

      %li.mdl-list__item
        -# spacer

      = app_dropdown 'How might this date change?' do
        %p
          Earliest Release Date is not firm until closer to release. It gets
          updated periodically by counselors. The closer to release, the more
          predictable this date becomes.

        %p.mdl-typography--body-2
          What does Earliest Release Date include?
        %p
          Earliest Release Date includes the sentence minus 20% Earned Time.

        %p.mdl-typography--body-2
          What is Earned Time?
        %p
          Earned Time is 20% credited at the beginning of the sentence. Earned
          time can be lost due to infractions and counselors update earned time
          periodically.

        %p.mdl-typography--body-2
          What are some other programs that may move the date earlier than that?
        %p
          Short Term Transitional Leave can subtract up to 90 days in addition to
          earned time for certain offenders. To learn more visit the #{link_to 'DOC FAQs', "http://www.oregon.gov/doc/OMR/Pages/religious_services/victims_services/victim_issues.aspx#Crime_Victims'_FAQ's"}.

        %p.mdl-typography--body-2
          Are there other programs that may allow the offender to spend time in
          the community?
        %p
          There are Alternative Incarceration Programs available in three
          institutions in Oregon that allow a small number of offenders to undergo
          treatment in the community. If they graduate these programs successfully
          they will be released earlier in addition to earned time.  To learn more
          check out #{link_to 'this summary by Crime Victims United', 'http://www.crimevictimsunited.org/issues/corrections/aip.htm'}.

      = app_dropdown 'How can I stay informed about where the offender is?' do
        .app--notification-method
          %p.mdl-typography--subhead Oregon VINE
          %p.mdl-typography--body-1
            VINE is an automated notification system. For example, VINE will call,
            text, and/or email you if there is a change in custody status.
          = link_to vine_path(@offender[:sid]), id: 'vine-link', class: 'mdl-button mdl-js-button app-color-primary app-list-button' do
            VINE website
            %i.material-icons open_in_new

        .app--notification-method
          %p.mdl-typography--subhead Oregon Prison Release Notification
          %p.mdl-typography--body-1
            The Oregon Parole Board can notify you 90 days prior to an inmate's
            release and help you get a No Contact order added to an inmate's
            conditions of Post-Prison Supervision.
          = link_to 'https://www.oregon.gov/BOPPPS/docs/Fillable%20Forms/Victim%20Request%20for%20Notification.pdf', class: 'mdl-button mdl-js-button app-color-primary app-list-button' do
            Sign Up Form
            %i.material-icons open_in_new

  .mdl-cell.mdl-cell--12-col
    %h2.app-typography--subheader Who can I call?

    %ul.mdl-list.app-list
      %li.mdl-list__item.mdl-list__item--two-line
        %span.mdl-list__item-primary-content
          %i.material-icons.mdl-list__item-icon person
          %span Robyn Masella
          %span.mdl-list__item-sub-title Victims' Specialist, Parole Board

      = app_dropdown 'Contact Robyn' do
        %ul.app-contact-list
          %li
            = link_to 'tel:503-945-0907', class: 'app-contact-list__link' do
              %i.material-icons.app-contact-list__icon phone
              %span.app-contact-list__primary-description
                (503) 945-0907
          %li
            = link_to 'mailto:DLParoleBoardVictimNotify@doc.state.or.us', class: 'app-contact-list__link' do
              %i.material-icons.app-contact-list__icon email
              %span.app-contact-list__primary-description
                DLParoleBoardVictimNotify@doc.state.or.us

      = app_dropdown 'What can I talk to Robyn about?' do
        %p How to stay informed
        %p What these notifications mean
        %p Why the release date changes
        %p Will there be a parole hearing I can speak at
        %p Release plans and safety planning
        %p Discuss terms of supervision and no contact orders
        %p When and where an offender will be released
        %p And more…

      %li.mdl-list__item
        -# This space left intentionally blank.

      %li.mdl-list__item.mdl-list__item--two-line
        %span.mdl-list__item-primary-content
          %i.material-icons.mdl-list__item-icon person
          %span Saydyie DeRosa
          %span.mdl-list__item-sub-title
            Victim Program Specialist, Department of Corrections

      = app_dropdown 'Contact Saydyie' do
        %p By Phone: TODO
        %p By Email: TODO

      = app_dropdown 'What can I talk to Saydyie about?' do
        %p General information about what sentence-reduction programs a prison offers
        %p General questions about the information on this page
        %p Stopping unwanted contact from an inmate

  .mdl-cell.mdl-cell--12-col.app-vertical-spacer
    -# extra spacing to push down the footer

  = render 'layouts/footer'
