.mdl-grid
  .mdl-cell.mdl-cell--8-col.mdl-cell--7-col-desktop
    %h2.mdl-typography--subhead Offender Public Information

    %ul.mdl-list.app-list
      %li.mdl-list__item.mdl-list__item--two-line
        %span.mdl-list__item-primary-content
          %span 1234
          %span.mdl-list__item-sub-title SID

      %li.mdl-list__item.mdl-list__item--two-line
        %span.mdl-list__item-primary-content
          %span Convicted
          %span.mdl-list__item-sub-title Status

      %li.mdl-list__item.mdl-list__item--two-line
        %span.mdl-list__item-primary-content
          %span Oregon State Correctional Institution
          %span.mdl-list__item-sub-title Location

      %li.mdl-list__item.mdl-list__item--two-line
        %span.mdl-list__item-primary-content
          %span 08/17/2017
          %span.mdl-list__item-sub-title Earliest Release Date (Not Finalized)

      %li.mdl-list__item.app-list__item--full-bleed.app-list__item--white-background
        %span.mdl-list__item-primary-content
          How might these dates change?
        %span.mdl-list__item-secondary-action
          = link_to '#expandy' do
            %i.material-icons keyboard_arrow_down

  .mdl-cell.mdl-cell--8-col.mdl-cell--4-col-desktop.mdl-cell--1-offset-desktop
    %h2.mdl-typography--subhead Who can I call?

    %ul.mdl-list.app-list
      %li.mdl-list__item.mdl-list__item--two-line
        %span.mdl-list__item-primary-content
          %i.material-icons.mdl-list__item-icon person
          %span Robyn Masella
          %span.mdl-list__item-sub-title Victims' Specialist, Parole Board

      %li.mdl-list__item.app-list__item--full-bleed.app-list__item--white-background
        %span.mdl-list__item-primary-content
          Contact Robyn
        %span.mdl-list__item-secondary-action
          = link_to '#expandy' do
            %i.material-icons keyboard_arrow_down

      %li.mdl-list__item.app-list__item--full-bleed.app-list__item--white-background
        %span.mdl-list__item-primary-content
          What can I talk to Robyn about?
        %span.mdl-list__item-secondary-action
          = link_to '#expandy' do
            %i.material-icons keyboard_arrow_down

      %li.mdl-list__item.mdl-list__item--two-line
        %span.mdl-list__item-primary-content
          %i.material-icons.mdl-list__item-icon person
          %span Frank Ferris
          %span.mdl-list__item-sub-title Counselor, OSCI

      %li.mdl-list__item.app-list__item--full-bleed.app-list__item--white-background
        %span.mdl-list__item-primary-content
          Contact Frank
        %span.mdl-list__item-secondary-action
          = link_to '#expandy' do
            %i.material-icons keyboard_arrow_down

      %li.mdl-list__item.app-list__item--full-bleed.app-list__item--white-background
        %span.mdl-list__item-primary-content
          What can I talk to Frank about?
        %span.mdl-list__item-secondary-action
          = link_to '#expandy' do
            %i.material-icons keyboard_arrow_down
