.mdl-grid
  .mdl-cell.mdl-cell--12-col
    %h2.app-typography--subheader Offender Public Information

    %ul.mdl-list.app-list
      %li.mdl-list__item.mdl-list__item--two-line.app-list__item--no-side-padding
        %span.mdl-list__item-primary-content
          %span= @offender[:name]
          %span.mdl-list__item-sub-title Offender Name

      %li.mdl-list__item.mdl-list__item--two-line.app-list__item--no-side-padding
        %span.mdl-list__item-primary-content
          %span= @offender[:sid]
          %span.mdl-list__item-sub-title SID

      %li.mdl-list__item.mdl-list__item--two-line.app-list__item--no-side-padding
        %span.mdl-list__item-primary-content
          %span= @offender[:status]
          %span.mdl-list__item-sub-title Status

      %li.mdl-list__item.mdl-list__item--two-line.app-list__item--no-side-padding
        %span.mdl-list__item-primary-content
          %span= @offender[:location]
          %span.mdl-list__item-sub-title Location

      %li.mdl-list__item.mdl-list__item--two-line.app-list__item--no-side-padding
        %span.mdl-list__item-primary-content
          %span= @offender[:earliest_release_date]
          %span.mdl-list__item-sub-title Earliest Release Date (Not Finalized)

      %li.mdl-list__item
        -# spacer

      %li.mdl-list__item.app-list__item--full-bleed.app-list__item--white-background
        = link_to '#expand-how-dates-change', class: 'app-list__item-link' do
          %span.mdl-list__item-primary-content
            How might this date change?
        %span.mdl-list__item-secondary-action
          = link_to '#expand-how-dates-change' do
            %i.material-icons keyboard_arrow_down
      %li#expand-how-dates-change.mdl-list__item.app-list__item--full-bleed.app-list__item--white-background.app-list__item--expansion.app-list__item--hidden
        %p
          Earliest Release Date is not firm until closer to release. It gets
          updated periodically by counselors. The closer to release, the more
          predictable this date becomes.

        %p.mdl-typography--body-2
          What does Earliest Release Date include?
        %p
          Earliest Release Date includes the sentence minus 20% Earned Time.

        %p.mdl-typography--body-2
          What is Earned Time?
        %p
          Earned Time is 20% credited at the beginning of the sentence. Earned
          time can be lost due to infractions and counselors update earned time
          periodically.

        %p.mdl-typography--body-2
          What are some other programs that may move the date earlier than that?
        %p
          Short Term Transitional Leave can subtract up to 90 days in addition to
          earned time for certain offenders. To learn more visit the #{link_to 'DOC FAQs', "http://www.oregon.gov/doc/OMR/Pages/religious_services/victims_services/victim_issues.aspx#Crime_Victims'_FAQ's"}.

        %p.mdl-typography--body-2
          Are there other programs that may allow the offender to spend time in
          the community?
        %p
          There are Alternative Incarceration Programs available in three
          institutions in Oregon that allow a small number of offenders to undergo
          treatment in the community. If they graduate these programs successfully
          they will be released earlier in addition to earned time.  To learn more
          check out #{link_to 'this summary by Crime Victims United', 'http://www.crimevictimsunited.org/issues/corrections/aip.htm'}.

  .mdl-cell.mdl-cell--12-col
    %h2.app-typography--subheader Who can I call?

    %ul.mdl-list.app-list
      %li.mdl-list__item.mdl-list__item--two-line
        %span.mdl-list__item-primary-content
          %i.material-icons.mdl-list__item-icon person
          %span Robyn Masella
          %span.mdl-list__item-sub-title Victims' Specialist, Parole Board

      %li.mdl-list__item.app-list__item--full-bleed.app-list__item--white-background
        = link_to '#expand-contact-robyn', class: 'app-list__item-link' do
          %span.mdl-list__item-primary-content
            Contact Robyn
        %span.mdl-list__item-secondary-action
          = link_to '#expand-contact-robyn' do
            %i.material-icons keyboard_arrow_down
      %li#expand-contact-robyn.mdl-list__item.app-list__item--full-bleed.app-list__item--white-background.app-list__item--expansion.app-list__item--hidden
        %ul.app-contact-list
          %li
            = link_to 'tel:503-945-0907', class: 'app-contact-list__link' do
              %i.material-icons.app-contact-list__icon phone
              %span.app-contact-list__primary-description
                (503) 945-0907
          %li
            = link_to 'mailto:DLParoleBoardVictimNotify@doc.state.or.us', class: 'app-contact-list__link' do
              %i.material-icons.app-contact-list__icon email
              %span.app-contact-list__primary-description
                DLParoleBoardVictimNotify@doc.state.or.us

      %li.mdl-list__item.app-list__item--full-bleed.app-list__item--white-background
        = link_to '#expand-what-robyn', class: 'app-list__item-link' do
          %span.mdl-list__item-primary-content
            What can I talk to Robyn about?
        %span.mdl-list__item-secondary-action
          = link_to '#expand-what-robyn' do
            %i.material-icons keyboard_arrow_down
      %li#expand-what-robyn.mdl-list__item.app-list__item--full-bleed.app-list__item--white-background.app-list__item--expansion.app-list__item--hidden
        %span.mdl-list__item-primary-content
          %p How to stay informed
          %p What these notifications mean
          %p Why the release date changes
          %p Will there be a parole hearing I can speak at
          %p Release plans and safety planning
          %p Discuss terms of supervision and no contact orders
          %p When and where an offender will be released

      %li.mdl-list__item
        -# This space left intentionally blank.

      %li.mdl-list__item.mdl-list__item--two-line
        %span.mdl-list__item-primary-content
          %i.material-icons.mdl-list__item-icon person
          %span= name_reorderer(@offender[:caseload_name])
          %span.mdl-list__item-sub-title Counselor, OSCI

      %li.mdl-list__item.app-list__item--full-bleed.app-list__item--white-background
        = link_to '#expand-contact-counselor', class: 'app-list__item-link' do
          %span.mdl-list__item-primary-content
            Contact #{first_name(@offender[:caseload_name])}
        %span.mdl-list__item-secondary-action
          = link_to '#expand-contact-counselor' do
            %i.material-icons keyboard_arrow_down
      %li#expand-contact-counselor.mdl-list__item.app-list__item--full-bleed.app-list__item--white-background.app-list__item--expansion.app-list__item--hidden
        %span.mdl-list__item-primary-content
          %p By Phone: TODO
          %p By Email: TODO

      %li.mdl-list__item.app-list__item--full-bleed.app-list__item--white-background
        = link_to '#expand-what-counselor', class: 'app-list__item-link' do
          %span.mdl-list__item-primary-content
            What can I talk to #{first_name(@offender[:caseload_name])} about?
        %span.mdl-list__item-secondary-action
          = link_to '#expand-what-counselor' do
            %i.material-icons keyboard_arrow_down
      %li#expand-what-counselor.mdl-list__item.app-list__item--full-bleed.app-list__item--white-background.app-list__item--expansion.app-list__item--hidden
        %span.mdl-list__item-primary-content
          %p General information about what sentence-reduction programs a prison offers
          %p General questions about the information on this page
          %p Stopping unwanted contact from an inmate

  .mdl-cell.mdl-cell--12-col.app-footer
    %h3.app-typography--subheader Other Questions?
    %p Would you like help tracking down any other information?
    = link_to "Text #{format_phone(@phone_number)}", "sms:#{@phone_number}", class: 'app-button-link'

    %p.mdl-typography--body-1.app-footer__powered-by
      Powered by
      %br
      = link_to 'Code For America', 'https://www.codeforamerica.org', target: '_blank'
      &middot;
      = link_to 'Multnomah County', 'https://multco.us', target: '_blank'
