%section.row
  .col.s10.offset-s1.m8.offset-m2
    %h2.app-typography--header-1 Offender Public Information

- case @offender[:jurisdiction].to_sym
- when :oregon
  = render 'offenders/info_prison_jail'
- when :dcj
  = render 'offenders/info_probation'

%section.row
  .col.s10.offset-s1.m8.offset-m2
    %h2.app-typography--header-2 Notifications

    - case @offender[:jurisdiction].to_sym
    - when :oregon
      = render 'offenders/notifications_prison_jail'
    - when :dcj
      = render 'offenders/notifications_probation'

%section.row
  .col.s10.offset-s1.m8.offset-m2
    %h2.app-typography--header-2 Frequently Asked Questions

    - case @offender[:jurisdiction].to_sym
    - when :oregon
      = render 'offenders/faq_prison_jail'
    - when :dcj
      = render 'offenders/faq_probation'

- case @offender[:jurisdiction].to_sym
- when :oregon
  = render 'offenders/who_prison_jail'
- when :dcj
  = render 'offenders/who_probation',
    locals: @offender.slice(:po_first, :po_last, :po_phone, :po_email)
