.app-hero
  %h2.mdl-typography--headline= t('home.headline')
  %h3.mdl-typography--subhead= t('home.subhead')

  = link_to offenders_path, class: 'mdl-button mdl-button--raised mdl-button--colored' do
    = t('home.cta')
    %i.material-icons arrow_forward

.mdl-grid
  .mdl-cell.mdl-cell--12-col
    %p.mdl-typography--body-1= t('home.description')
