.row.app-row
  .col.s12
    %h2.app-typography--header-1 Hello #{@current_user.email}
    %p
      You are logged in.

- if @current_user.is_admin?
  .row.app-row
    .col.s12
      Admin Options:
      - MailchimpCsvGenerator::CSVS.keys.each do |key|
        - range = @data_ranges[key]
        - if range && range.min && range.max
          %p= link_to "Download #{key.titleize} Mailchimp CSV", mailchimp_csv_path(key)
          %ul.browser-default
            %li= t("home_logged_in.email_description.#{key}", start: range.min.to_date, end: range.max.to_date)
        - else
          %p There was an error importing #{key.titleize} data.

      %p= link_to 'Download VRN Confirmation PDFs', admin_digital_vrns_path
      %p= link_to 'Import Status Debug', admin_import_status_path

.row.app-row
  .col.s12
    = link_to 'Log Out', sessions_path, method: :delete
