- content_for :header do
  - if vrn_receipt?(@feedback)
    %p= t('feedback_responses.header')
  - else
    = render_component 'logo'

- content_for :footer do
  - if vrn_receipt?(@feedback)
    = image_tag 'seal_DA.png', width: '60', height: '61', class: 'app-feedback-footer__logo'
    = simple_format(t('feedback_responses.footer'), class: 'app-feedback-footer__text')
  - else
    %span
      = render_component 'logo'
      = t('footer.powered_by_html')

.row.app-row
  .col.s12
    = image_tag emoji_image_path(@feedback), width: '60'

    %h1.app-typography--header-2= t("feedback_responses.#{@feedback.value}.header")
    = link_to change_my_reply_path(@feedback), class: 'app-feedback__tiny-caption' do
      = t("feedback_responses.subheader")
      = image_tag emoji_image_path(@feedback, size: :small, invert: true), width: '18'

= form_for @feedback do |f|
  .row.app-row
    .col.s12
      .app-input-field
        - thing_key = vrn_receipt?(@feedback) ? 'thing_email' : 'thing_page'
        = f.label :body, t("feedback_responses.#{@feedback.value}.field_label",
          thing: t("feedback_responses.#{thing_key}"))
        = f.text_field :body, 'data-length': 200, autofocus: true
        %span.app-input-field-caption= t('feedback_responses.field_caption')

  .row.app-row
    .col.s12
      = render_component 'button', submit: f do
        Submit
