- content_for :header do
  %p= t('feedback_responses.header')

- content_for :footer do
  = image_tag 'seal_DA.png', width: '60', height: '61', class: 'app-feedback-footer__logo'
  = simple_format(t('feedback_responses.footer'), class: 'app-feedback-footer__text')

.row
  -# spacer
.row
  -# spacer

.row
  .col.s8.offset-s2
    = image_tag emoji_image_path(@feedback), width: '60'

    %h1.app-typography--header-2= t("feedback_responses.#{@feedback.value}.header")
    = link_to change_my_reply_path(@feedback), class: 'app-feedback__tiny-caption' do
      = t("feedback_responses.subheader")
      = image_tag emoji_image_path(@feedback, size: :small, invert: true), width: '18'

= form_for @feedback do |f|
  .row
    -# spacer
  .row
    -# spacer
  .row
    .col.s8.offset-s2
      = f.label :body, t("feedback_responses.#{@feedback.value}.field_label")
      = f.text_field :body
      %span.app-typography--caption= t('feedback_responses.field_caption')

  .row
    -# spacer
  .row
    -# spacer
  .row
    .col.s8.offset-s2
      = render_component 'button', submit: f do
        Submit
  .row
    -# spacer
  .row
    -# spacer
