- selected_no_rights = sorted_right_flags.none? { |key| @flow.right_selected?(key) }

.row
  .col.s10.offset-s1.m8.offset-m2
    %p
      = t('rights_flow.confirmation.preamble')

    - if selected_no_rights
      %p= t('rights_flow.confirmation.header_none')
    - else
      %p= t('rights_flow.confirmation.header')

      %ul
        - sorted_right_flags.each do |key|
          - if @flow.right_selected?(key)
            %li.app-list-check= t("rights.#{key}")

    %p= link_to t('rights_flow.confirmation.edit_link'), right_path('to_notification')

%section.row
  .col.s10.offset-s1.m8.offset-m2
    %p= t('rights_flow.confirmation.contact_info')

    %p
      #{@flow.first_name} #{@flow.last_name}
      %br
      - if @flow.email.present?
        = @flow.email
      - else
        %em No Email Provided
      %br
      - if @flow.phone_number.present?
        = format_phone(@flow.phone_number)
      - else
        %em No Phone Number Provided

    %p
      = t('rights_flow.confirmation.case_info')
      %br
      Case Number is #{@flow.case_number}
      %br
      Advocate Email is #{@flow.advocate_email}

    %p= link_to t('rights_flow.confirmation.edit_link'), right_path('create_account')

- content_for :rights_button_footer do
  .row
    -# spacer
  .row
    .col.s10.offset-s1.m8.offset-m2
      = f.check_box_with_label :electronic_signature_checked, t('rights_flow.confirmation.signature_field_text')

      .app-field-attachment
        .input-field
          = f.text_field :electronic_signature_name, autocomplete: 'off', autocorrect: 'off'
          = f.label :electronic_signature_name, t('rights_flow.confirmation.signature_field_label')
          %span.app-input-field-caption= t('rights_flow.confirmation.signature_field_caption')
