.row
  .col.s10.offset-s1
    %p
      Last step, almost done!
      %br
      Tell us about you so we can save your request.

%section.row
  .col.s10.offset-s1
    %h2.app-typography--header-2 How can we reach you?

.row
  .col.s5.offset-s1
    .input-field
      = f.text_field :first_name, autocomplete: 'off', autocorrect: 'off'
      = f.label :first_name, 'First Name'

  .col.s5
    .input-field
      = f.text_field :last_name, autocomplete: 'off', autocorrect: 'off'
      = f.label :last_name, 'Last Name'

.row
  .col.s5.offset-s1
    .input-field
      = f.text_field :email, type: 'email'
      = f.label :email, 'Email Address'

  .col.s5
    .input-field
      = f.text_field :phone_number, type: 'tel'
      = f.label :phone_number, 'Phone Number'

.row
  .col.s10.offset-s1
    %h2.app-typography--header-2 What's the case number?

.row
  .col.s5.offset-s1
    .input-field
      = f.text_field :case_number, type: 'number'
      = f.label :case_number, 'Case Number'

    = link_to 'Look up the Case Number',
      'http://mcda.us/index.php/case-information/case-status/',
      class: 'app-typography--caption', target: '_blank'

  .col.s5
    .input-field
      = f.select :advocate_email,
        options_for_select(AdvocateList.name_and_emails, @flow.advocate_email),
        include_blank: true
      = f.label :advocate_email
