.row
  .col.s10.offset-s1
    %p= simple_format(t('rights_flow.in_special_cases.preamble'))

%section.row
.row
  .col.s10.offset-s1
    %h2.app-typography--header-2= t('rights_flow.in_special_cases.field_header')

    = f.check_box_with_label :flag_h_limited_distribution, t('rights_flow.in_special_cases.flag_h_limited_distribution')

.row
  .col.s10.offset-s1
    = f.check_box_with_label :flag_i_no_media, t('rights_flow.in_special_cases.flag_i_no_media')

.row
  .col.s10.offset-s1
    = f.check_box_with_label :flag_j, t('rights_flow.in_special_cases.flag_j')

.row
  .col.s10.offset-s1
    = f.check_box_with_label :flag_f, t('rights_flow.in_special_cases.flag_f')
