.row
  .col.s11.offset-s1
    = f.check_box :flag_h_limited_distribution
    = f.label :flag_h_limited_distribution, t('rights_flow.in_special_cases.flag_h_limited_distribution')

.row
  .col.s11.offset-s1
    = f.check_box :flag_i_no_media
    = f.label :flag_i_no_media, t('rights_flow.in_special_cases.flag_i_no_media')

.row
  .col.s11.offset-s1
    = f.check_box :flag_j
    = f.label :flag_j, t('rights_flow.in_special_cases.flag_j')

.row
  .col.s11.offset-s1
    = f.check_box :flag_f
    = f.label :flag_f, t('rights_flow.in_special_cases.flag_f')
