.row
  .col.s10.offset-s1
    %p= simple_format(t('rights_flow.to_notification.preamble'))

%section.row

.row
  .col.s10.offset-s1
    %h2.app-typography--header-2= t('rights_flow.to_notification.field_header')

    = f.check_box_with_label :flag_b, t('rights_flow.to_notification.flag_b')

.row
  .col.s10.offset-s1
    = f.check_box_with_label :flag_d, t('rights_flow.to_notification.flag_d')

.row
  .col.s10.offset-s1
    = f.check_box_with_label :flag_e, t('rights_flow.to_notification.flag_e')
