.row
  .col.s10.offset-s1
    %p= simple_format(t('rights_flow.to_notification.preamble'))

%section.row
  .col.s10.offset-s1
    %h2.app-typography--header-2= t('rights_flow.to_notification.field_header')

    = f.check_box_with_label :flag_b_critical_stage, t('rights_flow.to_notification.flag_b_critical_stage')

.row
  .col.s10.offset-s1
    = f.check_box_with_label :flag_d_release_hearings, t('rights_flow.to_notification.flag_d_release_hearings')

.row
  .col.s10.offset-s1
    = f.check_box_with_label :flag_e_revocation_hearings, t('rights_flow.to_notification.flag_e_revocation_hearings')
