= form_for(@flow, url: right_path(@flow.current_page)) do |f|
  .row
    .col.s11.offset-s1
      = f.check_box :flag_k_restitution
      = f.label :flag_k_restitution, 'To Restitution'

  .row
    .col.s11.offset-s1
      = render_component 'button', submit: f do
        Reset
      = render_component 'button', submit: f do
        Submit
