.row
  .col.s10.offset-s1
    %h2.app-typography--header-2= t('rights_flow.to_notification.field_header')

    = faq_format(t('rights_flow.to_notification.preamble'),
      html_tag: 'div',
      html_class: 'app-p-with-list-and-hanging-indent')

%section.row

.row.app-row--rights-checks-container
  .col.s10.offset-s1
    = f.check_box_with_label :flag_b, t('rights.flag_b')

  .col.s10.offset-s1
    = f.check_box_with_label :flag_d, t('rights.flag_d')

  .col.s10.offset-s1
    = f.check_box_with_label :flag_e, t('rights.flag_e')
