- content_for :pre_main_focus do
  .row.app-row.app-row--large
    .col.s12
      = image_tag 'emoji_thumbs_up.png', width: '64'

    .col.s12.m6.offset-m3
      - if @flow.just_created?
        %h2.app-typography--header-1= t('rights_flow.done.focus_header')
        %p= t('rights_flow.done.focus_subheader')
      - else
        %h2.app-typography--header-1= t('rights_flow.done.focus_header_changed')
        %p= t('rights_flow.done.focus_subheader_changed')

.row.app-row
  .col.s12
    %h2.app-typography--header-2= t('rights_flow.done.next')

  .col.s12
    -# TODO: This should depend on the rights selected. Then move this into I18n
    %p
      You will get a letter and/or a phone call of critical stage hearings. You
      can attend if you'd like to, or not. It's your right and your choice.

    - if @flow.phone_number
      %p
        We will call you at #{format_phone(@flow.phone_number)}

    %p
      Help us file for restitution faster,
      %br
      = link_to 'fill out the restitution form', 'http://mcda.us/wp-content/uploads/2013/09/Adult_English_March-2013.pdf', target: '_blank'

    -#
      -# TODO: Make this link go somewhere.
      %p
        To see and edit your rights and contact information,
        %br
        = link_to 'create an account at casecompanion.org', '#'

      %p.app-typography--caption
        You can also do this later.

.row.app-row
  .col.s12
    = link_to 'Back to Home Page', root_path
