- content_for :pre_main_focus do
  .row
    .col.s12
      = image_tag 'emoji_thumbs_up.png', width: '64'

  .row
    .col.s12.m6.offset-m3
      - if @flow.just_created?
        %h2.app-typography--header-1 You're all set.
        %p We sent you a copy of your rights.
      - else
        %h2.app-typography--header-1 Changes saved.
        %p
          Your rights request will be updated. It may take a few days for the
          system to update.

.row
  .col.s10.offset-s1
    %h2.app-typography--header-2 What's next?

  .col.s10.offset-s1
    -# TODO: This should depend on the rights selected. Then move this into I18n
    %p
      You will get a letter and/or a phone call of critical stage hearings. You
      can attend if you'd like to, or not. It's your right and your choice.

    - if @flow.phone_number
      %p
        We will call you at #{format_phone(@flow.phone_number)}

    %p
      Help us file for restitution faster,
      %br
      = link_to 'fill out the restitution form', 'http://mcda.us/wp-content/uploads/2013/09/Adult_English_March-2013.pdf', target: '_blank'

    %p
      To see and edit your rights and contact information,
      %br
      -# TODO: Make this link go somewhere.
      = link_to 'create an account at myadvocateoregon.org', '#'

    %p.app-typography--caption
      You can also do this later.

    -# TODO: Where does this go?
    = render_component 'button', to: root_path do
      Done
