- case params[:id]
- when 'who_assert'
  = render 'who_assert'
- when 'to_notification'
  = render 'to_notification'
- when 'to_financial_assistance'
  = render 'to_financial_assistance'
- when 'in_special_cases'
  = render 'in_special_cases'
- when 'create_account'
  = render 'create_account'
- when 'confirm'
  = render 'confirm'
