.row.app-row
  .col.s12
    %h1.app-typography--header-1
      = t('rights_flow.new_header_html', new: emphasized_text('New'))

    = render_component 'progress_bar', chunks: 3, filled: @flow.current_progress_chunks

= form_for(@flow, url: right_path(@flow.current_page)) do |f|
  - if RightsFlow::PAGES.include?(params[:id])
    = render partial: params[:id], locals: { f: f }

  .row.app-row.app-row--with-separator.app-row--rights-buttons
    .col.s6
      - if @flow.previous_step
        = link_to 'Back', right_path(@flow.previous_step)

    .col.s6
      = render_component 'button', solid: true, submit: f do
        - if @flow.finished?
          Submit
        - elsif @flow.current_page == RightsFlow.first_step
          Begin &rarr;
        - else
          Next &rarr;
