= render_component 'progress_row', percent: @flow.current_progress_percent do
  .col.s11.offset-s1
    %h1.app-typography--header-1
      - if @flow.court_case_subscription_id
        = t('rights_flow.edit_header_html', edit: emphasized_text('Edit'))
      - else
        = t('rights_flow.new_header_html', new: emphasized_text('New'))

= form_for(@flow, url: right_path(@flow.current_page)) do |f|
  - case params[:id]
  - when 'who_assert'
    = render partial: 'who_assert', locals: { f: f }
  - when 'to_notification'
    = render partial: 'to_notification', locals: { f: f }
  - when 'to_financial_assistance'
    = render partial: 'to_financial_assistance', locals: { f: f }
  - when 'in_special_cases'
    = render partial: 'in_special_cases', locals: { f: f }
  - when 'create_account'
    = render partial: 'create_account', locals: { f: f }

  %section.row

  .row.app-row--rights-buttons
    .col.s6.offset-s1
      = link_to 'Reset', rights_path, method: :delete

    .col.s2.app-col--text-centered
      - if @flow.previous_step
        = link_to 'Back', right_path(@flow.previous_step)

    .col.s2
      = render_component 'button', submit: f do
        - if @flow.finished?
          Submit
        - else
          Next &rarr;
