-# Required options: title
- title = options[:title]

- url_snippet = options[:title].downcase.scan(/\w+/).join('-')

- classes = ['app-dropdown']

- expanded_classes = classes + %w[app-dropdown__hidden]

= link_to "#expand-#{url_snippet}", class: classes do
  %i +
  %span= title

%div{ id: "expand-#{url_snippet}", class: expanded_classes }
  = yield
