-# Required options: title
- title = options[:title]

- url_snippet = options[:title].downcase.scan(/\w+/).join('-')

- classes = ['app-dropdown']

- link_classes = classes + %w[app-dropdown__link]
- expanded_classes = classes + %w[app-dropdown__hidden]

= link_to "##{url_snippet}", id: url_snippet, class: link_classes do
  %i +
  %span= title

%div{ id: "expand-#{url_snippet}", class: expanded_classes }
  .app-dropdown__body
    = yield
