-# Required options: title
- title = options[:title]

- url_snippet = options[:title].downcase.scan(/\w+/).join('-')

- classes = ['mdl-list__item']
- classes << 'app-list__item--full-bleed'
- classes << 'app-list__item--white-background'

- expanded_classes = classes + %w[app-list__item--expansion app-list__item--hidden]

%li{ class: classes }
  = link_to "#expand-#{url_snippet}", class: 'app-list__item-link' do
    %span.mdl-list__item-primary-content= title
  %span.mdl-list__item-secondary-action
    = link_to "#expand-#{url_snippet}" do
      %i.material-icons keyboard_arrow_down
%li{ id: "expand-#{url_snippet}", class: expanded_classes }
  = yield
