- content_for :focus_form do
  %h2.app-typography--header-3= t('beta_signups.focus_header')

  = form_for @beta_signup do |f|
    = f.hidden_attribution_fields

    .row
      .col.s12.m6
        .input-field
          = f.label :email, t('beta_signups.focus_label')
          = f.text_field :email, type: 'email', class: 'validate'

        %span.app-typography--caption= t('beta_signups.focus_caption')

      .hide-on-small-only
        .col.m5.offset-m1
          = render_component 'button', submit: f, stretch: true, solid_dark: true do
            = t('beta_signups.focus_cta')

    .hide-on-med-and-up
      .row
        .col.s12
          = render_component 'button', submit: f, stretch: true, solid: true do
            = t('beta_signups.focus_cta')

.app-header--subhero.app-header--subhero-no-bottom-padding
  .app-container
    .row
      .col.s10.offset-s1
        %h2.app-typography--header-1= t('beta_signups.screenshot_header')
        = image_tag 'img_landing_page_browser.png', class: 'app-beta-signups__screenshot'

.app-header--subhero
  .app-container
    .row
      .col.s10.offset-s1.m5.offset-m1
        %p.app-typography--body-1
          - cfa_link = link_to('Code for America', 'https://www.codeforamerica.org', target: '_blank')
          = raw(t('home.description', cfa_link: cfa_link))

      .col.s10.offset-s1.m5
        = image_tag 'partner_logos.png', class: 'app-header__logos'

