- content_for :page_title, t('offender_search.title_jurisdiction', in: 'on probation or parole')

= form_for :offender, url: offender_jurisdiction_path(:dcj) do |f|
  .row
    .col.s10.offset-s1
      = link_to t('offender_search.back'), offenders_path

      %h2.app-typography--header-1= raw(t('offender_search.title_jurisdiction',
        in: emphasized_text('on probation or parole')))

  .row
    .col.s10.offset-s1.m5.offset-m1
      .input-field
        = f.text_field :last_name
        = f.label :last_name, t('offender_search.last_name.label')

  .row
    = f.fields_for :dob do |dob|
      .col.s10.offset-s1
        = dob.label :month, t('Date of Birth')
      .col.s3.offset-s1.m1.offset-m1
        .input-field
          = dob.text_field :month, placeholder: 'MM'
      .col.s3.m1
        .input-field
          = dob.text_field :day, placeholder: 'DD'
      .col.s4.m2
        .input-field
          = dob.text_field :year, placeholder: 'YYYY'

  .row
    .col.s10.offset-s1
      = render_component 'button', submit: f do
        = t('offender_search.search')
