- content_for :page_title, t('offender_search.title')

= form_for :offender, url: offender_jurisdiction_path(:unknown) do |f|
  .row.app-row
    .col.s12
      = link_to t('offender_search.back'), offenders_path

      %h2.app-typography--header-1= t('offender_search.title')

  - if @search_error
    .row.app-row.app-row--error
      .col.s12
        = mixpanel_track_message :error, @search_error
        = @search_error

  .row.app-row.app-row--with-separator
    .col.s12.m6
      .app-input-field
        = f.label :first_name, t('offender_search.first_name.label'),
          class: ('active' if search_params[:first_name].present?)
        = f.text_field :first_name, value: search_params[:first_name]

    .col.s12.m6
      .app-input-field
        = f.label :last_name, t('offender_search.last_name.label'),
          class: ('active' if search_params[:last_name].present?)
        = f.text_field :last_name, value: search_params[:last_name]

    = f.dob_select_field :dob

  .row.app-row.app-row--with-separator
    .col.s12
      = render_component 'button', spinner: true, submit: f do
        = t('offender_search.search')
