- content_for :page_title, t('offender_search.title')

.row.app-row
  .col.s12
    %h1.app-typography--header-1= t('offender_search.title')

.row.app-row.app-row--with-separator
  .col.s12.m6.offset-m3
    .app__search-button-holder
      = render_component 'button', to: offender_jurisdiction_path(:oregon), stretch: true do
        = t('offender.search_prison')

    .app__search-button-holder
      = render_component 'button', to: offender_jurisdiction_path(:dcj), stretch: true do
        = t('offender.search_probation')

    .app__search-button-holder
      = render_component 'button', to: offender_jurisdiction_path(:unknown), stretch: true do
        = t('offender.search_unknown')
