%section.app-footer
  .app-container
    .row
      .col.s10.l5.offset-s1.offset-l1
        %h3.app-typography--header-2= t('footer.title')

        %ul.app-footer__feedback-list
          - current_path = request.path
          %li= link_to 'Yes', feedback_response_path(type: :thumbs_up, page: current_path)
          %li= link_to 'No', feedback_response_path(type: :thumbs_down, page: current_path)
          %li= link_to 'Yes, but', feedback_response_path(type: :yes_but, page: current_path)

      .col.s10.l5.offset-s1.offset-l1
        %p.app-footer__powered-by
          = render_component 'logo'
          = t('footer.powered_by')

    .row
      .col.s10.offset-s1
        %p.app-footer__powered-by= t('footer.disclaimer')
