%section.app-footer
  .app-container
    .row
      .col.s10.l5.offset-s1.offset-l1
        %h3.app-typography--header-3= t('footer.title')
        %p= simple_format t('footer.body')

        = link_to t('footer.textus', phone_number: format_phone(@phone_number)), "sms:#{@phone_number}"

      .col.s10.l5.offset-s1.offset-l1
        %h3.app-typography--header-3= t('footer.who_receiving')
        = render_component 'avatar_list_item', image: image_path('pam.jpg'), name: 'Pam', caption: 'Fellow, Code for America'
        = render_component 'avatar_list_item', image: image_path('tom.jpg'), name: 'Tom', caption: 'Fellow, Code for America'

    .row
      .col.s10.offset-s1
        %p.app-footer__powered-by
          = render_component 'logo'
          = t('footer.powered_by')
