!!! 5
%html
  %head
    %title= page_title

    = render 'layouts/meta_tags'

    %link{ href: '//fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet' }

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/analytics_js'

  %body
    %header.app-header
      .app-container
        .row
          .col.s12{ class: ('m6' if feature_enabled?(:log_in)) }
            = link_to root_path, class: 'app-header__link' do
              %h1.app-header__title= render_component 'logo'
          - if feature_enabled?(:log_in)
            .col.s12.m6.app-feature-flagged
              - if @current_user
                = link_to edit_user_path(@current_user), class: 'app-header__link' do
                  .app-header__title= @current_user.email
                &middot;
                = link_to sessions_path, method: :delete, class: 'app-header__link' do
                  %div.app-header__title Log Out
              - else
                = link_to new_sessions_path, class: 'app-header__link' do
                  .app-header__title Log In

    %main.app-container--main
      - if flash[:info]
        .row
          .col.s10.offset-s1
            = simpler_format flash[:info]
            = mixpanel_track_message :info, flash[:info]

      - if flash[:error]
        .row
          .col.s10.offset-s1.app-cell--error
            = simpler_format flash[:error]
            = mixpanel_track_message :error, flash[:error]
            %p
              Confused? Ask us a question:
              #{link_to "text #{format_phone(@phone_number)}", "sms:#{@phone_number}", class: 'app-button-link'}.

      = yield

    = render 'layouts/footer'
