!!! 5
%html
  %head
    %title= page_title

    = render 'layouts/meta_tags'

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/analytics_js'

  %body
    %header.app-header
      .app-container
        .row
          .col.s10.offset-s1.m8.offset-m2
            %h1.app-header__title
              = link_to root_path, class: 'app-header__logo' do
                = render_component 'logo'

    %main.app-container--main
      - if content_for?(:pre_main_focus)
        .app-container.app-container--pre-main-focus
          = yield :pre_main_focus

      - if flash[:info]
        .row
          .col.s10.offset-s1.m8.offset-m2
            = simpler_format flash[:info]
            = mixpanel_track_message :info, flash[:info]

      - if flash[:error]
        .row
          .col.s10.offset-s1.app-cell--error
            = simpler_format flash[:error]
            = mixpanel_track_message :error, flash[:error]

      = yield

    = render 'layouts/footer'
