!!! 5
%html
  %head
    %title= t('product_name')
    = csrf_meta_tags

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %link{ href: '//fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet' }

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/analytics_js'

  %body
    %header.app-header
      .app-container
        .row
          .col.s12
            = link_to root_path, class: 'app-header__title' do
              %h1= render_component 'logo'

    %main.app-container--main
      - if flash[:info]
        .row
          .col.s12
            = simpler_format flash[:info]
            = mixpanel_track_message :info, flash[:info]

      - if flash[:error]
        .row
          .col.s12.app-cell--error
            = simpler_format flash[:error]
            = mixpanel_track_message :error, flash[:error]
            %span
              Confused? Ask us a question:
              #{link_to "text #{format_phone(@phone_number)}", "sms:#{@phone_number}", class: 'app-button-link'}.

      = yield

    = render 'layouts/footer'
