= stylesheet_link_tag 'email'

%table.email--outer
  %tr
    %td.email--outer-cell

      %table.email--seal
        %tr
          %td
            = image_tag 'seal_DA.png', class: 'email--seal-img'
          %td
            %p.email--seal__title
              = t('email_layout.da_name')

            %ul.email--contact-details-list-small
              %li= t('email_layout.vap_name')
              %li= t('email_layout.vap_phone')
              %li= t('email_layout.vap_url')

  %tr
    %td.email--outer-cell
      = yield

  %tr
    %td.email--outer-cell
      - unless @remove_feedback_section
        %table.email--feedback
          %tr
            %td{ colspan: 3 }
              %h2= t('email_layout.footer_feedback_title')
          %tr
            %td{ width: '33%' }
              = link_to feedback_response_url('thumbs_up'), class: 'email--feedback-link' do
                %p= t('email_layout.footer_feedback_yes')
            %td{ width: '33%' }
              = link_to feedback_response_url('thumbs_down'), class: 'email--feedback-link' do
                %p= t('email_layout.footer_feedback_no')
            %td{ width: '33%' }
              = link_to feedback_response_url('yes_but'), class: 'email--feedback-link' do
                %p= t('email_layout.footer_feedback_yes_but')

      %h6.email--footer-our-address= t('email_layout.footer_address')

      %ul.email--footer-our-address-list
        %li= t('email_layout.footer_address_name')
        %li= t('email_layout.footer_address_address')
        %li= t('email_layout.footer_address_citystate')
