!!! 5
%html
  %head
    %title= page_title

    = render 'layouts/meta_tags'

    %link{ href: '//fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet' }

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/analytics_js'

  %body
    .app-container--focused
      .app-container--focused__header= content_for(:header)

      = yield

      .app-container--focused__footer= content_for(:footer)
