!!! 5
%html
  %head
    %title= page_title

    = render 'layouts/meta_tags'

    %link{ href: '//fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet' }

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/analytics_js'

  %body.app-layout--lander
    %header.app-header.app-header--lander
      .app-container
        .row
          .col.s10.offset-s1.m8.offset-m2
            = link_to root_path, class: 'app-header__link' do
              %h1.app-header__title--splash= render_component 'logo', variant: :single_color

        .row
          .col.s10.offset-s1.m7.offset-m1
            %h1.app-header__headline Get the information and support you need
            %h3.app-header__subhead-2 As a victim of crime, you're entitled to know case status, upcoming hearings, and more.

        - if content_for(:focus_form)
          .app-header__focus-form-spacer

    - if content_for?(:focus_form)
      .app-container.app-header__focus-form
        .row
          .col.s10.offset-s1.m8.offset-m2
            = content_for :focus_form

    = yield

    = render 'layouts/footer'
