!!! 5
%html
  %head
    %title= page_title

    = render 'layouts/meta_tags'

    %link{ href: '//fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/analytics_js'

  %body
    %header.app-header.app-header--hero
      .app-container
        .row
          .col.s12.offset-s1.m4.offset-m1
            = link_to root_path, class: 'app-header__link' do
              %h1.app-header__title--splash= render_component 'logo', variant: :translucent

          - if feature_enabled?(:log_in)
            .col.s12.m6.offset-m1.app-feature-flagged
              - if current_user
                = link_to '#', class: 'app-header__link' do
                  .app-header__title--splash= current_user.email
                &middot;
                = link_to sessions_path, method: :delete, class: 'app-header__link' do
                  %div.app-header__title--splash Log Out
              - else
                = link_to new_sessions_path, class: 'app-header__link' do
                  .app-header__title--splash Log In

      .app-container
        .row
          .col.s10.offset-s1
            %h2.app-header__headline= t('home.headline')
            %h3.app-header__subhead= t('home.subhead')

        .row
          .col.s10.offset-s1
            .app-button-group
              = render_component 'button', to: offenders_path, solid: true do
                = t('home.cta')
                &rarr;

              = render_component 'button', to: faqs_path, transparent: true do
                = t('home.secondary_cta')


    .app-header--subhero
      .app-container
        .row
          .col.s10.offset-s1.m5.offset-m1
            %p.app-typography--body-1
              - cfa_link = link_to('Code for America', 'https://www.codeforamerica.org', target: '_blank')
              = raw(t('home.description', cfa_link: cfa_link))

          .col.s10.offset-s1.m5
            = image_tag 'partner_logos.png', class: 'app-header__logos'

    .app-header--subhero
      .app-container
        .row
          .col.s10.offset-s1.m3.offset-m1
            = image_tag 'img_faq_icons.png', class: 'app-header__logos'

          .col.s10.offset-s1.m6.offset-m1
            %p.app-typography--body-1
              = t('home.faqs')
            = link_to t('home.faqs_link'), faqs_path, class: 'app-typography--body-1'

    %main.app-container
      - if flash[:info]
        .row
          .col.s12
            = simpler_format flash[:info]
            = mixpanel_track_message :info, flash[:info]

      - if flash[:error]
        .row
          .col.s12.app-cell--error
            = simpler_format flash[:error]
            = mixpanel_track_message :error, flash[:error]
            %span
              Confused? Ask us a question:
              #{link_to "text #{format_phone(@phone_number)}", "sms:#{@phone_number}", class: 'app-button-link'}.

      = yield

    = render 'layouts/footer'
