!!! 5
%html
  %head
    %title= page_title

    = render 'layouts/meta_tags'

    %link{ href: '//fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/analytics_js'

  %body
    %header.app-header.app-header--hero
      .app-container
        .row
          .col.s8.offset-s2.m4.offset-m2
            = link_to root_path, class: 'app-header__link' do
              %h1.app-header__title--splash= render_component 'logo', variant: :single_color
            .app-header__subtitle formerly MyAdvocate

          - if feature_enabled?(:log_in)
            .col.s10.m4.offset-m1.app-feature-flagged
              - if @current_user
                = link_to '#', class: 'app-header__link' do
                  .app-header__title--splash= @current_user.email
                &middot;
                = link_to sessions_path, method: :delete, class: 'app-header__link' do
                  %div.app-header__title--splash Log Out
              - else
                = link_to new_sessions_path, class: 'app-header__link' do
                  .app-header__title--splash Log In

      .app-container
        .row
          .col.s8.offset-s2
            %h2.app-header__headline= t('home.headline')
            %h3.app-header__subhead-1= t('home.subhead_1')
            %h3.app-header__subhead-2= t('home.subhead_2')

    .app-header
      .app-container.app-container--left-line.app-container--subhero
        .row
          .col.s8.offset-s2
            %h3.app-typography--display-2= t('home.timeline_header')

        .row
          .col.s8.offset-s2
            %h3.app-left-line-dot.app-typography--header-1= t('home.after_reporting.header')

            .app-home-link-with-description
              = link_to t('home.after_reporting.find_status.link'),
                faqs_path(anchor: 'all-justice-system-services'),
                class: 'app-typography--body-1'
              .app-typography--body-2= t('home.after_reporting.find_status.description')

        .row
          .col.s8.offset-s2
            %h3.app-left-line-dot.app-typography--header-1= t('home.after_charges.header')

            .app-home-link-with-description
              = link_to t('home.after_charges.request_rights.link'), rights_path, class: 'app-typography--body-1'
              .app-typography--body-2= t('home.after_charges.request_rights.description')

            .app-home-link-with-description
              = link_to t('home.after_charges.during_prosecution.link'), faqs_path(anchor: 'before-and-during-trial'),
                class: 'app-typography--body-1'
              .app-typography--body-2= t('home.after_charges.during_prosecution.description')

            .app-home-link-with-description
              = link_to t('home.after_charges.look_up_status.link'),
                'https://webportal.courts.oregon.gov/portal/Home/Dashboard/29',
                target: '_blank',
                class: 'app-typography--body-1'
              .app-typography--body-2= t('home.after_charges.during_prosecution.description')

        .row
          .col.s8.offset-s2
            %h3.app-left-line-dot.app-typography--header-1= t('home.after_closed.header')

            .app-home-link-with-description
              = link_to t('home.after_closed.look_up_status.link'), offenders_path, class: 'app-typography--body-1'
              .app-typography--body-2= t('home.after_closed.look_up_status.description')

            .app-home-link-with-description
              = link_to t('home.after_closed.after_sentencing.link'),
                faqs_path(anchor: 'post-sentencing-overview'),
                class: 'app-typography--body-1'
              .app-typography--body-2= t('home.after_closed.after_sentencing.description')

            .app-home-link-with-description
              = link_to t('home.after_closed.look_up_case.link'),
                'https://webportal.courts.oregon.gov/portal/Home/Dashboard/29',
                target: '_blank',
                class: 'app-typography--body-1'
              .app-typography--body-2= t('home.after_closed.look_up_case.description')

    .app-header
      .app-container.app-container--subhero.app-container--centered
        .row
          .col.s8.offset-s2
            %h3.app-typography--display-2= t('home.other_questions')

          .col.s4.offset-s4
            .app-button-group
              = render_component 'button', stretch: true, dark: true, to: faqs_path do
                = t('home.read_faqs')
              = render_component 'button', stretch: true, dark: true, to: 'mailto:team@casecompanion.org' do
                = t('home.contact_us')

    .app-header
      .app-container.app-container--subhero.app-container--centered
        .row
          .col.s10.offset-s1
            %h3.app-typography--display-2= t('home.about_site')
            %p.app-typography--body-1
              - cfa_link = link_to('Code for America', 'https://www.codeforamerica.org', target: '_blank')
              = raw(t('home.description', cfa_link: cfa_link, product_name: product_name))

          .col.s8.offset-s2
            = image_tag 'img_partner_seals.png', width: '100%'

    %main.app-container
      - if flash[:info]
        .row
          .col.s12
            = simpler_format flash[:info]
            = mixpanel_track_message :info, flash[:info]

      - if flash[:error]
        .row
          .col.s12.app-cell--error
            = simpler_format flash[:error]
            = mixpanel_track_message :error, flash[:error]

      = yield

    = render 'layouts/footer'
