!!! 5
%html
  %head
    %title Case Companion
    = csrf_meta_tags

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %link{ href: '//fonts.googleapis.com/css?family=Roboto:300,400,500,700', rel: 'stylesheet' }
    %link{ href: '//fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet' }

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'styleguide', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/analytics_js'

  %body
    .styleguide-container
      = yield
